
<br><br><br><br><br><br>
<div class="container">
  <h2>Products</h2>
  <ul>
    {{#each model.products as |product|}}
    <li><h4>{{product.name}} -- {{product.price}}</h4>
      <ul>
        {{#each product.feedbacks as |feedback|}}
          <li>
            <h5>Feedback</h5>
            {{feedback.content}} -- {{feedback.author}}
            <p>
              Score: {{feedback.score}}
            </p>
          </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>

</div>
