
<br><br><br><br><br><br>
<div class="container">
  <h2>Products</h2>
  <ul>
    {{#each model as |product|}}
    <li><h4>{{product.name}} -- {{price-indicator product}}</h4>
      {{#if product.feedbacks}}
        <h5>Feedback: </h5>
          <ul>
            {{#each product.feedbacks as |feedback|}}
              <li>
                {{feedback.content}} -- {{feedback.author}}
                <p>
                  Score: {{feedback.score}}
                </p>
              </li>
            {{/each}}
          </ul>
        {{/if}}
    </li>
    {{/each}}
  </ul>

</div>
